body{background:#F0F0F0;}

#logo{position:relative; width:460px; height:125px; margin:0 auto; line-height:160px; text-align:center;}
img{ vertical-align:middle;}

.label{position:relative; margin:0 auto; width:460px; height:45px; font-weight:bold; line-height: 50px;}
.inputText{position:relative; margin:0 auto; width:460px; height:50px; color:gray; background:white; line-height:50px; text-align:center;}

input[type=text], input[type=password], select { font-size:110%; border:0; outline:none;}

.ymd{position:relative; margin:0 auto; width:460px; height:50px; background:#F0F0F0; text-align:center;}
.ymd1{position:relative; float:left; width:150px; height:50px; margin-right:5px; background:white; line-height:60px;}
.ymd1:last-child{margin-right:0px;}

.gender{position:relative; margin:0 auto; width:460px; height:50px; background:white; text-align:left; font-weight:bold; line-height:50px;}

/* .label select{position:relatve; width:20px;height:45px; line-height:45px;font-size:60%; color:#bab9b9;} */

.number{position:relative; margin:0 auto; width:460px; height:50px; background:white; line-height:50px; text-align:center; margin-bottom:10px;}
.number select{position:relative;  width:460px; height:50px; background:white; float:left; line-height:50px;}

.number1{position:relative; margin:0 auto; width:460px; height:50px; background:#F0F0F0; margin-bottom:10px;}

.number2{position:relative; float:left; width:300px; height:50px; line-height:50px; background:white; margin-right:20px; text-align:center;}
.number3{position:relative; float:left; width:140px; height:50px; background:rgb(55, 206, 55); color:white; font-weight:bold; text-align:center; line-height:50px;}
.number4{position:relative; margin:0 auto; width:460px; height: 50px; line-height:50px; border:1px dashed gray; background:#F0F0F0;}
.number4 input[type="text"]::placeholder{background:#F0F0F0; line-height:50px;}

.confirm{position:relative; margin:0 auto; width:460px; height:50px; background:rgb(55, 206, 55); color:white; font-size:200%; font-weight:bold; line-height:50px; text-align:center; border:1px solid black;}

.last_menu{position:relative; margin: 0 auto; width:460px; height:30px; text-align:center;}


.last_menu ul{list-style:none; margin:0; padding:0; display:inline-block;}
.last_menu ul li{float:left; padding:0 5px; font-size:75%; font-weight:bold; border-right:1px solid gray;}
.last_menu ul li:last-child{border-right:none;}

.last_logo{position:relative; width:460px; height:50px; border-bottom:5px solid black; margin:0 auto; line-height:0; font-size:70%; text-align:center;}